$iconsPath: "~assets/icons";
$imagesPath: "~assets/images";

.double-hsm-block{
    cursor: pointer;
    display: flex;
    margin-bottom: 8px;
    .hsm-icon, .purple-hsm-icon{
        background: no-repeat;
        background-position-y: center;
        width: 20px;
        height: 17px;
        background-size: 28px;
    }
    .hsm-icon{
        background-image: url(#{$iconsPath}/vector.svg);
    }
    .purple-hsm-icon{
        background-image: url(#{$iconsPath}/vector_purple.svg);
    }
    .setting-hsm{
        background: #6F737D;
        height: 28px;
        border-radius: 2px;
        display: flex;
        padding: 5px, 6px, 5px, 6px;
        p{
            font-family: hk-grotesk-medium;
            font-size: 16px;
            color: #FFFFFF;
            margin: 1px 5px !important;
            display: inline-block;
            cursor: pointer;

        }
        &:hover{
            background: #292B2E;
        }
    }
}

.hsm-buttons-container {
    display: flex;
    justify-content: flex-end;
    grid-column-gap: 5px;
    column-gap: 5px;
    text-align: end;
}

.double-hsm-connection-button {
    width: 100%;
    height: 44px;
    background: #303030;
    border-radius: 2px;
    border: none;
    color: white;
    cursor: default;

    &:hover {
        color: #6F737D
    }

    .button-text {
        color: #6F737D;

        &:hover {
            color: white
        }
    }

    .double-hsm-connection-button-content {
        display: flex;
        align-items: center;
        justify-content: center;

        .hsm-connection-button-text {
            margin-left: 9px !important;
        }
    }    
}

